In [1]:
import sqlite3
import pandas as pd
import seaborn as sns

In [22]:
genstudio = pd.read_csv('./sql/genstudio.csv')
metadata = pd.read_csv('./sql/metadata.csv')

c:\users\dkupa\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [89]:
genstudio.head()

,SNP Name,SNP Index,SNP Aux,Sample ID,SNP,Allele1 - Top,Allele2 - Top,Allele1 - Forward,Allele2 - Forward,Allele1 - AB,Allele2 - AB,Chr,Position,GC Score,GT Score,Theta,R,B Allele Freq,Log R Ratio
0,1_10573221,1,0,202341831114R01C01,[T/C],-,-,-,-,-,-,1,10573221,0.0000,0.0000,0.942,0.413,1.0000,0.4040
1,1_10673082,2,0,202341831114R01C01,[T/C],A,A,T,T,A,A,1,10673082,0.8272,0.8076,0.039,0.968,0.0000,0.3017
2,1_10723065,3,0,202341831114R01C01,[A/G],A,A,T,T,A,A,1,10723065,0.8316,0.8107,0.011,1.577,0.0000,0.0388
3,1_11337555,4,0,202341831114R01C01,[A/G],A,A,T,T,A,A,1,11337555,0.3781,0.7925,0.045,1.104,0.0000,0.2761
4,1_11407894,5,0,202341831114R01C01,[A/G],G,G,G,G,B,B,1,11407894,0.9038,0.8670,0.983,1.122,0.9994,0.0022

In [23]:
metadata.head()

   Unnamed: 0         dna_chip_id breed sex
0           0  202290551164R09C01     Д  Хр
1           1  202341831114R02C01     Д  Хр
2           2  202341831114R03C01     Д  Хр
3           3  202341831114R04C01     Д  Хр
4           4  202290551140R01C01     Д  Хр

In [43]:
metadata.loc[metadata.dna_chip_id.isin(pd.unique(genstudio['Sample_ID'][genstudio['Chr'] == 'Y']))]

            dna_chip_id breed sex
1    202341831114R02C01     Д  Хр
2    202341831114R03C01     Д  Хр
3    202341831114R04C01     Д  Хр
5    202341831114R05C01     Д  Хр
8    202341831114R07C01     Д  Хр
13   202341831114R08C01     Д  Хр
14   202341831114R09C01     Д  Хр
15   202341831114R10C01     Д  Хр
19   202341831114R11C01     Д  Хр
20   202341831114R12C01     Д  Хр
22   202341831114R01C02     Д  Хр
23   202341831114R02C02     Д  Хр
25   202341831114R03C02     Д  Хр
26   202341831114R04C02     Д  Хр
28   202341831114R05C02     Д  Хр
29   202341831114R06C02     Д  Хр
30   202341831114R07C02     Д  Хр
32   202341831114R08C02     Д  Хр
33   202341831114R09C02     Д  Хр
34   202341831114R10C02     Д  Хр
35   202341831114R11C02     Д  Хр
36   202341831114R12C02     Д  Хр
37   202341831127R01C01     Д  Хр
39   202341831127R02C01     Д  Хр
40   202341831127R03C01     Д  Хр
51   202341831127R01C02     Д  Хр
52   202341831127R02C02     Д  Хр
838  202341831114R01C01     Д  Хр
839  202341831114R06C01     Д  Хр

In [24]:
merge_temp = metadata.merge(genstudio, left_on='dna_chip_id', right_on = 'Sample ID')
merge_temp

,Unnamed: 0_x,dna_chip_id,breed,sex,Unnamed: 0_y,SNP Name,SNP Index,SNP Aux,Sample ID,SNP,...,Allele1 - AB,Allele2 - AB,Chr,Position,GC Score,GT Score,Theta,R,B Allele Freq,Log R Ratio
0,1,202341831114R02C01,Д,Хр,137032,1_10573221,1,0,202341831114R02C01,[T/C],...,-,-,1,10573221,0.0000,0.0000,0.420,0.093,0.3736,-3.2795
1,1,202341831114R02C01,Д,Хр,137033,1_10673082,2,0,202341831114R02C01,[T/C],...,B,B,1,10673082,0.8272,0.8076,0.937,1.043,1.0000,0.1770
2,1,202341831114R02C01,Д,Хр,137034,1_10723065,3,0,202341831114R02C01,[A/G],...,A,A,1,10723065,0.8316,0.8107,0.016,1.530,0.0008,-0.0077
3,1,202341831114R02C01,Д,Хр,137035,1_11337555,4,0,202341831114R02C01,[A/G],...,A,A,1,11337555,0.3781,0.7925,0.040,1.207,0.0000,0.4193
4,1,202341831114R02C01,Д,Хр,137036,1_11407894,5,0,202341831114R02C01,[A/G],...,B,B,1,11407894,0.9038,0.8670,0.983,1.118,0.9991,-0.0034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,839,202341831114R06C01,Д,Хр,753671,WUR10000057,68512,0,202341831114R06C01,[A/G],...,A,B,4,97323684,0.7922,0.7902,0.605,1.618,0.5880,-0.0678
1999996,839,202341831114R06C01,Д,Хр,753672,WUR10000071,68513,0,202341831114R06C01,[A/G],...,-,-,4,108995059,0.0000,0.0000,0.111,0.304,0.0598,-0.2228
1999997,839,202341831114R06C01,Д,Хр,753673,WUR10000125,68514,0,202341831114R06C01,[A/G],...,A,A,4,139666819,0.8022,0.7914,0.058,1.371,0.0313,-0.1916
1999998,839,202341831114R06C01,Д,Хр,753674,WUR10000125_2,68515,0,202341831114R06C01,[A/G],...,A,A,4,139666819,0.8093,0.7959,0.045,1.466,0.0194,-0.0842
1999999,839,202341831114R06C01,Д,Хр,753675,WUR10000127,68516,0,202341831114R06C01,[A/G],...,A,A,4,143109983,0.8821,0.8482,0.024,1.360,0.0036,0.0600

In [25]:
link_table = pd.DataFrame(columns =  ['sample_id', 'SNP_id'])
link_table['sample_id'] = merge_temp['Unnamed: 0_x']
link_table['SNP_id'] = merge_temp['Unnamed: 0_y']
link_table

         metadata_id  genstudio_id
0                  1        137032
1                  1        137033
2                  1        137034
3                  1        137035
4                  1        137036
...              ...           ...
1999995          839        753671
1999996          839        753672
1999997          839        753673
1999998          839        753674
1999999          839        753675

[2000000 rows x 2 columns]

In [26]:
metadata = metadata.drop('Unnamed: 0', axis = 1)

In [27]:
genstudio = genstudio.drop('Unnamed: 0', axis = 1)

In [19]:
connection = sqlite3.connect('snp.db')

In [31]:
connection.execute('''CREATE TABLE genstudio (
SNP_id INTEGER PRIMARY KEY,
SNP_Name TEXT,
SNP_Index INTEGER,
SNP_Aux INTEGER,
Sample_ID TEXT,
SNP TEXT,
Allele1_Top TEXT, 
Allele2_Top TEXT, 
Allele1_Forward TEXT, 
Allele2_Forward TEXT, 
Allele1_AB TEXT, 
Allele2_AB TEXT, 
Chr TEXT, 
Position TEXT, 
GC_Score INTEGER,
GT_Score INTEGER,
Theta INTEGER,
R INTEGER,
B_Allele_Freq INTEGER,
Log_R_Ratio INTEGER)''')

In [28]:
genstudio.columns = ['SNP_Name', 'SNP_Index', 'SNP_Aux', 'Sample_ID', 'SNP', 'Allele1_Top', 'Allele2_Top', 
                     'Allele1_Forward', 'Allele2_Forward', 'Allele1_AB', 'Allele2_AB', 'Chr', 'Position', 
                     'GC_Score', 'GT_Score', 'Theta', 'R', 'B_Allele_Freq', 'Log_R_Ratio']

In [29]:
genstudio.to_sql('genstudio', con=connection, if_exists='append', index = False)

In [ ]:
connection.execute('''CREATE TABLE metadata (
sample_id INTEGER PRIMARY KEY,
dna_chip_id TEXT,
breed TEXT,
sex TEXT)''')

In [33]:
metadata.to_sql('metadata', con=connection, if_exists='append', index = False)

In [34]:
connection.commit()

In [63]:
connection.execute('''CREATE TABLE IF NOT EXISTS link_table_cascade (
attendance_id INTEGER PRIMARY KEY,
sample_id INTEGER,
SNP_id INTEGER,
FOREIGN KEY (sample_id) REFERENCES metadata (sample_id) ON DELETE CASCADE,
FOREIGN KEY (SNP_id) REFERENCES learners (SNP_id) ON DELETE CASCADE
)''')

In [64]:
link_table.to_sql('link_table_cascade', con=connection, if_exists='append', index = False)

In [65]:
connection.commit()

In [51]:
sql_update_query = """Update metadata set sex = 'XY' where dna_chip_id = '202341831114R02C01'"""

In [52]:
connection.execute(sql_update_query)

In [53]:
connection.commit()

In [54]:
sql_delete_query = """Delete from genstudio where SNP_Name = '1_10723065'"""

In [55]:
connection.execute(sql_delete_query)

In [56]:
connection.commit()

In [66]:
sql_cascade_query = """Delete from link_table_cascade where sample_id = '1'"""

In [67]:
connection.execute(sql_cascade_query)

In [68]:
connection.commit()

In [70]:
dropTableStatement  = 'DROP table link_table'

In [71]:
connection.execute(dropTableStatement)

In [72]:
connection.commit()

In [73]:
connection.close()